.header-container {
    text-align: center;
    background-image: url(images/donation13.jpg);
    color: aliceblue;
    padding: 20%;
    background-repeat: no-repeat;
    background-size: cover;

}

.header-dacaration {
    font-size: 60px;
    font-weight: 900;
}

.font-sizing {
    font-size: 20px;
}

.btn-container {
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(rgb(243, 45, 78), red);
    border-radius: 5px;
    color: white;
    transition: .5s;
}

.btn-container:hover {
    box-shadow: 5px 8px 20px orange;
    color: aquamarine;
    font-weight: 900;
}

.Donate-container {
    text-align: center;
    margin-top: 5%;
}

.header-special {
    font-size: 45px;
    text-align: center;
}

.sub-donate-container2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%
}

.donation-mony-container {

    padding: 3%;
    background-color: rgba(255, 0, 0, 0.178);
    transition: .7s;
}

.donation-mony-container:hover {
    border: 2px solid rgba(214, 11, 11, 0.726);

    background-color: rgba(255, 0, 0, 0.39);
    margin-top: -10px;
    box-shadow: 10px 20px 30px gray;
}

.font-sizing2 {
    font-size: 15px;
    margin-top: 5%;
    color: rgba(0, 0, 0, 0.589);
    border-bottom: 1px solid black;
    margin-bottom: 2%;
    padding-bottom: 1%;
}

.sub-donate-container3 {
    margin-left: 7%;
    margin-right: 7%;
}

.btn2 {
    border: 0px;
}

.donate-plan-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%
}

.donate-plan-sub-c {
    text-align: left;
    width: 25%;
    padding: 2%;

}

.container-color1 {
    background-color: rgba(0, 255, 255, 0.267);
}

.container-color2 {
    background-color: rgba(255, 196, 0, 0.274);
}

.container-color3 {
    background-color: rgba(0, 255, 0, 0.288);
}

.contributer-container {
    display: flex;
    margin-top: 10%;
    margin-right: 3%;
    margin-left: 3%;


}

.contributer-container-sub {
    width: 100%;




}

.contributer-container-sub1 {
    padding: 3%;



}

.contributer-container-sub img {
    width: 100%;
}

.email-container {
    background-color: rgba(255, 228, 196, 0.589);
    width: 60%;
    justify-content: center;
    margin: 5% 0% 15% 15%;
    padding: 5%;
}

.email {
    padding: 1%;

}

.footer-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.938);
    color: orangered;
    padding: 5%
}